header{
    background-color: #E7BCDE;
    padding: 0;
}

header a{
    font-family: Inter;
}

body{
   
    background-color: #BB9CC0;
    font-family: Inter, sans-serif;
    
}

footer {
    
     
   }
   .footerAD{
    position: absolute;
     top: 1100px;
     width: 100%;
     padding: 10px;
     background-color: black;
     border-radius: 10px;
     text-align: center;
     font-family: Inter;
     color: white;
   }
.footerP{
    clear: both;
    background-color: black;
     border-radius: 10px;
     text-align: center;
     font-family: Inter;
     color: white;
     padding: 10px;
}

   
.descripcionTitulo{
    position: absolute;
    font-family: Inter;
    font-size: 30px;
    font-weight: bold;
    top: 280px;
    left: 70px;
    

}
.containerdescripcion{
    display: flex;
   
 
    
}
.seccionDescripcion{
    
  font-family: Inter;
  position: absolute ;
  top: 280px;
  left: 110px;
  height: 140px;
  width: 40%;
  padding: 15px;
  margin: 50px;
  background-color:#FED9ED;
  border-radius: 10px;
  
}


.asideDescripcionFoto{
    position: absolute;
    right: 10px;
    top: 260px;
    float: right;
    width: 40%;
}

.asideDescripcionFoto img{
    height: 280px;
    width: 250px;
    border-radius: 50%;

}


  
.descripcionObjetivos{
    position: absolute;
    font-family: Inter;
    font-size: 30px;
    font-weight: bold;
    top: 680px;
    left: 320px;
    

}

.seccionObjetivos{
    font-family: Inter;
    text-align: left;
    position: absolute ;
    top: 700px;
    left: 170px;
    height: 140px;
    width:60%;
    padding: 30px;
    margin: 50px;
    background-color:#FED9ED;
    border-radius: 10px;
    
  }
  .seccionObjetivos ul{
    display: flex;
    list-style:disc ;
  }

  .galeriaObjetivos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 30px;
    position: absolute;
    top: 920px;
    left: 300px;
  }
/* Commented out code
h1{
    background-color: #A367B1;
}
*/
.txtimg{
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 50px;
    font-family: Inter;
    font-weight: bold;
    color: white;
    text-shadow: 0;
}
.ImgLogo{

    height: 10px;
    width: 1000px;
}

